<div class="card">
  <%# link_to image_tag("プロトタイプの画像", class: :card__img ), root_path%>
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id) %>
    <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype.id), class: :card__title%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to prototype.user.name, user_path(prototype.user.id), class: :card__user %>

    <%# prototype.の後ろは、user*user_id*user.id*のどれでもＯＫ！！！ %>
    <%# indexにある→collectionを使用したときは_始まりのファイルには＠は使用できず、さらに単数形になる→eachメソッドのようなもの！！！ %>
  </div>
</div>